---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://grafana.github.io/helm-charts
      chart: grafana
      version: 7.3.3
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
    force: true
  valuesFrom:
    - kind: Secret
      name: grafana-secrets
      valuesKey: GF_SERVER_DOMAIN
      targetPath: ingress.hosts[0]
  values:
    podAnnotations:
      reloader.stakater.com/auto: 'true'
    image:
      pullPolicy: Always
    persistence:
      enabled: true
      size: 50Gi
      storageClassName: longhorn
    ingress:
      enabled: true
    rbac:
      pspEnabled: false
      pspUseAppArmor: false
    testFramework:
      enabled: false
    serviceMonitor:
      enabled: true
    resources:
      requests:
        cpu: 250m
        memory: 127M
    admin:
      existingSecret: grafana-admin-secrets
    envFromSecret: 'grafana-secrets'
    plugins:
      - natel-discrete-panel
      - pr0ps-trackmap-panel
      - grafana-piechart-panel
      - vonage-status-panel
      - grafana-worldmap-panel
      - grafana-clock-panel
      - camptocamp-prometheus-alertmanager-datasource
      - https://github.com/panodata/panodata-map-panel/releases/download/0.16.0/panodata-map-panel-0.16.0.zip;grafana-worldmap-panel-ng
      # - redis-datasource
      # - redis-app
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: "default"
            disableDeletion: false
            editable: true
            folder: ""
            options:
              path: /var/lib/grafana/dashboards/default
            orgId: 1
            type: file
          - name: "cilium"
            orgId: 1
            folder: "Cilium"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/cilium
          - name: "infra"
            orgId: 1
            folder: "Infra"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/infra
          - name: "flux"
            orgId: 1
            folder: "Flux"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/flux
          - name: "kubernetes"
            orgId: 1
            folder: "Kubernetes"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/kubernetes
          - name: "loki"
            orgId: 1
            folder: "Loki"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/loki
          - name: "nginx"
            orgId: 1
            folder: "nginx"
            type: file
            disableDeletion: false
            editable: true
            allowUiUpdates: true
            options:
              path: /var/lib/grafana/dashboards/nginx
          - name: "unifi"
            orgId: 1
            folder: "Unifi"
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/unifi
          - name: "Prometheus"
            disableDeletion: false
            editable: true
            folder: ""
            options:
              path: /var/lib/grafana/dashboards/prometheus
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            access: proxy
            url: http://thanos-query.monitoring.svc.cluster.local:9090/
            isDefault: true
          - name: Loki
            type: loki
            access: proxy
            url: http://loki-gateway.monitoring.svc.cluster.local
            version: 1
            isDefault: false
            jsonData:
              maxLines: 100
          - name: Alertmanager
            type: alertmanager
            access: proxy
            url: http://prometheus-alertmanager.monitoring.svc.cluster.local:9093
            jsonData:
              implementation: prometheus
    dashboards:
      flux-cluster:
        url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/cluster.json
        datasource: Prometheus
      flux-control-plane:
        url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
        datasource: Prometheus
      flux-logs:
        url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/logs.json
        datasource: Loki
      nginx-ingress:
        url: https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/grafana/dashboards/nginx.json
        datasource: Prometheus
      nginx-ingress-request-handling-performance:
        url: https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/grafana/dashboards/request-handling-performance.json
        datasource: Prometheus
      dragonflydb:
        url: https://raw.githubusercontent.com/dragonflydb/dragonfly-operator/main/monitoring/grafana-dashboard.json
        datasource: Prometheus
      unifi-poller-uap-insights:
        gnetId: 11314
        datasource: Prometheus
        revision: 9
      unifi-poller-client-insights:
        gnetId: 11315
        datasource: Prometheus
        revision: 8
      unifi-poller-network-sites:
        gnetId: 11311
        datasource: Prometheus
        revision: 4
      unifi-poller-usw-insights:
        gnetId: 11312
        datasource: Prometheus
        revision: 8
      unifi-poller-usg-insights:
        gnetId: 11313
        datasource: Prometheus
        revision: 8
      unifi-poller-client-dpi:
        gnetId: 11310
        datasource: Prometheus
        revision: 4
      api-server:
        gnetId: 15761
        revision: 14
        datasource: Prometheus
      coredns:
        gnetId: 15762
        revision: 13
        datasource: Prometheus
      global:
        gnetId: 15757
        revision: 31
        datasource: Prometheus
      namespaces:
        gnetId: 15758
        revision: 27
        datasource: Prometheus
      nodes:
        gnetId: 15759
        revision: 19
        datasource: Prometheus
      pods:
        gNetId: 15760
        revision: 21
        datasource: Prometheus
      volumes:
        gnetId: 11454
        revision: 14
        datasource: Prometheus
      loki-metrics:
        gnetId: 14055
        datasource: Prometheus
    sidecar:
      resources:
        requests:
          cpu: 50m
          memory: 94M
      datasources:
        enabled: true
        searchNamespace: ALL
        initDatasources: true
        defaultDatasourceEnabled: true
        labelValue: '1'
      dashboards:
        enabled: true
        searchNamespace: ALL
        labelValue: '1'
